@page "/starter-pages/user-page"
@inject Net.Core.SessionState.StateContainer stateContainder

<ContentHeader>
    <Header>
        <PageTitle Title="User Page" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Some user page content</CardTitle></Title>
        <Body>
            Contents
        </Body>
    </Card>
</ContentMain>

@code
{ 
    protected override void OnInitialized()
    {
        base.OnInitialized();

        stateContainder.SetName(DateTime.Now.ToLongTimeString());
    }
}